table,th,
        td {
            border: 2px solid black;
            text-align: center;
            padding: 5px;
            border-collapse: collapse;
            width: 25em;
        }

        .row{
            margin-bottom: 8em;
        }

        body{
            background-color:lightcoral;
            font-size: larger;
        }
.city{
    width: 300em;
}

.container{
    padding-left: 15em;
    padding-right: 15em;
}

@media(min-width: 940px){
        .row{
            display: flex;
        }
    .h1{
    margin-right: 2em;
    }
}